<?xml version="1.0" encoding="UTF-8"?><plist version="1.0"><dict><key>CFBundleIdentifier</key><string>groovy</string><key>CFBundleName</key><string>Groovy</string><key>DocSetPlatformFamily</key><string>groovy</string><key>dashIndexFilePath</key><string>overview-summary.html</string><key>DashDocSetFamily</key><string>java</string></dict></plist>