<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>DPDK</string>
	<key>CFBundleName</key>
	<string>DPDK</string>
	<key>DashDocSetKeyword</key>
	<string>DPDK</string>
	<key>DashDocSetPluginKeyword</key>
	<string>DPDK</string>
	<key>DashWebSearchKeyword</key>
	<string>DPDK</string>
	<key>DocSetPlatformFamily</key>
	<string>usercontribDPDK</string>
	<key>dashIndexFilePath</key>
	<string>index.html</string>
	<key>isDashDocset</key>
	<true/>
</dict>
</plist>
